@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

body {
	/* color: rgb(var(--foreground-rgb)); */
	/* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
	font:
		Mona Sans,
		Helvetica Neue,
		Helvetica,
		Arial,
		sans-serif;
	background-color: #f1f8ff;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.quick-view:hover p,
.quick-view:hover button {
	display: block;
}

.quick::after {
	content: '';
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px; /* dịch chuyển mũi tên về trái 5px */
	border-width: 5px;
	border-style: solid;
	border-color: #9ca3af transparent transparent transparent;
}

/* .sale::after {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	z-index: 1;
	width: 22px;
	height: 22px;
	top: -1px;
	right: -17px;
	margin: 5px;
	border: none;
	-webkit-border-radius: 1px 1px 4px;
	border-radius: 1px 1px 4px;
	font:
		medium Arial,
		Helvetica,
		sans-serif;
	background-color: #ff4949;
	-webkit-transform: rotateY(1deg) rotateZ(-45deg);
	transform: rotateY(1deg) rotateZ(-45deg);
} */

.half-square {
	top: 0;
	right: -20px;
	position: absolute;
	width: 0;
	height: 0;
	border-top: 12px solid transparent;
	border-bottom: 12px solid transparent;
	border-left: 20px solid #009fe5;
}

.slider-container-item .slick-prev,
.slider-container-item .slick-next {
	z-index: 100;
}
.slider-container-item .slick-next:before {
	color: gray;
	font-size: 30px;
}
.half-square1 {
	top: 0;
	right: -10px;
	position: absolute;
	width: 0;
	height: 0;
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 10px solid #009fe5;
}
